<style>
.barcode2D,  #miscCanvas {
	display: none;
}

#barcodeTarget, #canvasTarget {
	margin-top: 20px;
}

#barcodeTarget .gen {
	float:left;
	margin-bottom: 10px;
}

#barcodeTarget .title {
	font-size: 9px;
}
</style>

<script type="text/javascript">
$(document).ready( function() {
  var error_message = "";

  function generateBarcode(){
  	var barcodetitle = $("#barcodeValueTitle").val();
  	var radical = $("#barcodeValueRadical").val();
    var value = $("#barcodeValueFrom").val();
    var value2 = $("#barcodeValueTo").val() == "" ? value : $("#barcodeValueTo").val();
    var btype = $("input[name=btype]:checked").val();
    var renderer = 'css'; // $("input[name=renderer]:checked").val();
    
	var quietZone = false;
    if ($("#quietzone").is(':checked') || $("#quietzone").attr('checked')){
      quietZone = true;
    }
	
    var settings = {
      output: renderer,
      bgColor: $("#bgColor").val(),
      color: $("#color").val(),
      barWidth: $("#barWidth").val(),
      barHeight: $("#barHeight").val(),
      moduleSize: $("#moduleSize").val(),
      posX: $("#posX").val(),
      posY: $("#posY").val(),
      addQuietZone: $("#quietZoneSize").val()
    };
    if ($("#rectangular").is(':checked') || $("#rectangular").attr('checked')){
      value = {code:value, rect: true};
    }

	$("#canvasTarget").hide();
	$("#barcodeTarget").html("").show();
    // Verify if values are numbers, verify settings
 	if (checkOrder(value, value2) 
 		&& checkTypeValidity(radical, btype)
 	   ) {
			// $("#errorTitle").html("<%= _t 'Barcodes' %> <%= _t 'From' %> "  + value +  " <%= _t 'To' %> " + value2);
			$('#printButton').show();
			$("#barcodeWorkingZone").show();
			$(".barcodeParamZone").hide();
			$("h1, h2, h3, h4, nav, ul, li").hide();
			// Creates divs
	 		for ( var v = value; v <= value2; v++ ) {
	 			$("#barcodeTarget").append("<div id='code-"+ v +"' class='gen'>"+ v +"</div>");
	 			//$("#barcodeTarget").append("<div class='title'>"+ barcodetitle +"</div>");
	 			$("#code-" + v ).barcode( "" + radical + v, btype, settings);
			}
 	} else {
 		console.log("Error ! "+error_message);
 		// Displays error
 		$("#barcodeWorkingZone").show();
 		$("#errorTitle").html("<%= _t 'Error !' %>");
 		$("#errorMsg").html(error_message);
 		//$("#barcodeTarget").toggleClass("panel panel-danger");
 	}
  }

  // Check validity of cstring to send to barcode generator
  function checkTypeValidity(radical, codetype) {
  	var special = /[\#\@\&\"\'\(\§\!\)\°\_\*\€\`\£\=\±\\\:\;\,\?\•\¿\≥\‰\¥]/g;  
  	var alphabetical = /[A-Z]/gi;
	var alpha_matches = radical.match(alphabetical);
	var special_matches = (radical.match(special));
	// Check for any code type : no special chars
	if (special_matches != null && special_matches.length > 0) {
		error_message = "<%= _t 'Barcodes do not support any special character, but $ - + ! / . %' %>";
		return false;
	}
	// Check for code11 validity
	if (alpha_matches != null && alpha_matches.length > 0 && codetype == "code11"){
		error_message = "<%= _t 'Code 11 does not support alphabetical characters !' %>";
		return false;
	}
  	return true;
  }
  
  // Check order of values to send to barcode generator.
  function checkOrder(v1, v2) {
  	v1 = v1 =="" ? 0 : v1;
  	v2 = v2 =="" ? 0 : v2;
  	if (v2 >= v1) return true;
  	else {
  		error_message = "<%= _h 'Please check values. You should put numeric values in order to generate several barcodes.' %>";
  		return false;
  	}
  } 

  function showConfig1D(){
    $('.barcode1D').show();
    $('.barcode2D').hide();
  }
  
  function showConfig2D(){
    $('.barcode1D').hide();
    $('.barcode2D').show();
  }
  
  function clearCanvas(){
    var canvas = $('#canvasTarget').get(0);
    var ctx = canvas.getContext('2d');
    ctx.lineWidth = 1;
    ctx.lineCap = 'butt';
    ctx.fillStyle = '#FFFFFF';
    ctx.strokeStyle  = '#000000';
    ctx.clearRect (0, 0, canvas.width, canvas.height);
    ctx.strokeRect (0, 0, canvas.width, canvas.height);
  }
  
  function init() {
    $("#errorTitle").html("");
    $("#errorMsg").html("");
	$('#printButton').hide();
	$("#barcodeWorkingZone").hide();
	$(".barcodeParamZone").show();
	// These tags are not printed
	$("h1, h2, h3, h4, nav, ul, li").show();
  }

  $(function(){
    $('input[name=btype]').click(function(){
      if ($(this).attr('id') == 'datamatrix') showConfig2D(); else showConfig1D();
    });

    $('#generateButton').click(function(){
    	generateBarcode();
    });

    $('#printButton').click(function(){
      print();
    });

    $('#backButton').click(function(){
      init();
    });

  });

  init();
});
</script>

<div class="row barcodeParamZone">
	<div class="col-md-12 col-md-offset-1">
	    <div class="col-md-4">
	      <h2><span class="label label-success"><%= _t 'Type' %></span></h2>
		      <ul class="list-group">
	 		      <li class="list-group-item">
			      	<input type="radio" name="btype" id="code11" value="code11">
			      	<label for="code11">code 11</label><span class="label label-default pull-right"><%= _t 'Numeric' %></span>
			      </li>
			      <li class="list-group-item">
			      	<input type="radio" name="btype" id="code39" value="code39" checked="checked">
			      	<label for="code39">code 39</label><span class="label label-info pull-right"><%= _t 'Alphanumeric' %></span>
			      </li>
			      <li class="list-group-item">
			      	<input type="radio" name="btype" id="code93" value="code93">
			      	<label for="code93">code 93</label><span class="label label-info pull-right"><%= _t 'Alphanumeric' %></span>
			      </li>
			      <li class="list-group-item">
			      	<input type="radio" name="btype" id="code128" value="code128">
			      	<label for="code128">code 128</label><span class="label label-info pull-right"><%= _t 'Alphanumeric' %></span>
			      </li>
	 		      <li class="list-group-item">
			      	<input type="radio" name="btype" id="datamatrix" value="datamatrix">
			      	<label for="datamatrix"><%= _t 'Data matrix' %></label><span class="label label-info pull-right"><%= _t 'Alphanumeric' %></span>
			      </li>
		      </ul>
	    </div>
	    <div class="col-md-4 col-md-offset-1">
	      <h2><span class="label label-success"><%= _t 'Micellenous' %></span></h2>
	      <ul class="list-group">
		      <li class="list-group-item">
		      	<label for="bgColor"><%= _t 'Background' %></label>
		      	<input type="text" id="bgColor" value="#FFFFFF" size="7">
		      </li>
		      <li class="list-group-item">
		      	<label for="color"><%= _t 'Bar color' %></label>
		      	<input type="text" id="color" value="#000000" size="7">
		      </li>
		      <div class="barcode1D">
		      	<li class="list-group-item">
		      		<label for="barWidth"><%= _t 'Bar width' %></label>
		        	<input type="text" id="barWidth" value="1" size="3">
		        </li>
		        <li class="list-group-item">
		        	<label for="barHeight"><%= _t 'Bar height' %></label>
		        	<input type="text" id="barHeight" value="50" size="3">
		        </li>
		      </div>

		      <div class="barcode2D">
		      <h2><span class="label label-success"><%= _t 'Module size' %></span></h2>
		      <li class="list-group-item">
			      	<label for="moduleSize"><%= _t 'Size' %></label>
			        <input type="text" id="moduleSize" value="5" size="3">
		        </li>
		        <li class="list-group-item">
			        <label for="quietZoneSize"><%= _t 'Quiet zone module' %></label>
			        <input type="text" id="quietZoneSize" value="1" size="3">
		        </li>
		        <li class="list-group-item">
			        <input type="checkbox" name="rectangular" id="rectangular">
			        <label for="rectangular"><%= _t 'Rectangular' %></label>
		        </li>
		      </div>
	      </ul>
	    </div>
	</div>
</div>

<div class="row barcodeParamZone">
	<div class="col-md-12 col-md-offset-1">
		<div class="row">
		  <div class="col-md-6">
		    <form method="get">

<!-- 		      <div class="input-group input-group-ld">
		        <span class="input-group-addon" id="codefradical">
		        	<%= _t 'Barcode title' %> : 
		        </span>
		        <input type="text" class="form-control" id="barcodeValueTitle" name="barcodeValueTitle" placeholder="<%=_t "Title used on every barcode" %>" aria-describedby="barcodeValueTitle" value="<%= @title %>">
		      </div>
 -->
		      <div class="input-group input-group-ld">
		        <span class="input-group-addon" id="codefradical">
		        	<%= _t 'Radical' %> : 
		        </span>
		        <input type="text" class="form-control" id="barcodeValueRadical" name="barcodeValueRadical" placeholder="<%=_t "Used on every barcode" %>" aria-describedby="barcodeValueRadical" value="<%= @radical %>">

		        <span class="input-group-addon" id="codefrom">
		        	<%= _t 'From' %> : 
		        </span>
		        <input type="text" class="form-control" id="barcodeValueFrom" name="barcodeValueFrom" placeholder="<%=@placeholder %>" aria-describedby="barcodeValueFrom" value="<%= @from %>">

		        <span class="input-group-addon" id="codeto">
		        	<%= _t 'To' %> : 
		        </span>
		        <input type="text" class="form-control" id="barcodeValueTo" name="barcodeValueTo" placeholder="<%=@placeholder %>" aria-describedby="barcodeValueTo" value="<%= @to %>">
		        <span class="input-group-btn">
		          <button class="btn btn-primary" type="button" id="generateButton" data-toggle="modal" data-target="#barcodeResults" title="<%= _t 'Generate !' %>"><%= _t 'Generate !' %></button>
		        </span>
		      </div>
		      </form>
		  </div>
		</div>
	</div>
</div>


<div clas="row" id="barcodeWorkingZone">
	<div class="col-md-12 col-md-offset-1">
		<h2><span id="errorTitle" class="label label-danger"></span></h2>
		<span id="errorMsg"></span>
		<div class="col-md-9 col-md-offset-1">
			<div id="barcodeTarget" class="barcodeTarget"></div>
			<canvas id="canvasTarget" width="150" height="150"></canvas>
		</div>
		<button type="button" id="backButton" class="btn btn-primary" title="<%= _t 'Back' %>"><%= _t 'Back' %></button>&nbsp;&nbsp;
		<button type="button" id="printButton" class="btn btn-primary" title="<%= _t 'Print' %>"><%= _t 'Print' %></button>
	</div>
</div>
