<script src="<%= APP_PATH %>/app/vendor/jquery-qrcode-0.12.0/jquery.qrcode-0.12.0.min.js?v=<%=APP_VERSION%>"></script>

<div class="col-md-5 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Welcome on TechShopIO' %></h3>
	  	</div>
		<div class="panel-body">
			<div>
				<p>
					<%= _h 'help-general-purpose' %>
				</p>
			</div>
		 </div>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Mobile access' %></h3>
	  	</div>
		<div class="panel-body">
			<div class="pull-right" id="qrcode-area"></div>
			<div>
				<p>
					<%= _h 'help-tablet-access' %><br /><br />
					<b id="url-area"></b>
				</p>
			</div>
		 </div>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<pre>
	Ici l'index du site.
	- QR Code pour tablette
	- Aide sur le lecteur de code barres
	- Aide sur le fonctionnement de l'application
		- step 1 : imprimer des codes barres et référencer les matériels
		- step 2 : ajouter par CSV
		- step 3 : créer une étiquette (tag) par équipe
		- step 4 : c'est prêt !
	- version
	- liens ??
	</pre>
</div>


<script>
var ip = "<%= @ip %>";
var url = "";
	if (ip != "") {
		url = "http://<%= @ip %>:<%= APP_PORT %><%= APP_PATH %>/";
		$("#qrcode-area").qrcode({
		    "size": 100,
		    "color": "#3a3",
		    "text": url
		});
		$("#url-area").html(url);
	} else {
		$("#qrcode-area").html("<%= _h 'help-no-lan' %>");
	}
</script>

