<div class="col-md-10 col-md-offset-1">
	<div class="table-responsive">
	<% if @items %>
		<p class="text-muted"><%=@items.count %> <%= _t 'elements in the TechShop' %></p>
	<% else %>
		<p class="text-warning"><%= _h 'help-empty-techshop' %></p>
	<% end %>
	    <table class="table table-bordered table-striped" id="techShopList">
	      <thead>
	        <tr>
	          <th>
	          	<%= _t 'Picture' %>
	          </th>
	          <th>
	          	<%= _t 'Code' %>
	          </th>
	          <th>
	          	<%= _t 'Name' %>
	          </th> 
	          <th>
	          	<%= _t 'Description' %>
	          </th>
	          <th>
	          	<%= _t 'Assigned' %> ?
	          </th>
	          <th>
	          	<%= _t 'Actions' %>
	          </th>
	        </tr>
	      </thead>
	      <tbody>
	      <% @items.each { | item | %>
	      	<% if item['checkout'] == 'O' %>
	      	<tr class='out rch'>
	        <% else %>
	        <tr class="rch">
	        <% end %>
	        	<td>
	        	<% if !item['image_link'].empty? %>
	        		<img src="<%= APP_PATH %>/pictures/thumb-<%= item['image_link'] %>" alt="<%= item['name'] %>" class="img-responsive img-rounded modalPicture" id="img-<%= item['code'] %>" data-toggle="modal" data-target="#bigPic">
	        	<% else %>
	        		<img id="img-<%= item['code'] %>"/>
	        	<% end %>
	        	</td>
	        	<td class="strikable"><%= item['code'] %></td>
	        	<td class="strikable"><%= item['name'] %></td>
	        	<td class="strikable"><%= item['description'] %></td>
	        	<td>
	        	<% if item['checkout'] == 'O' %>
	        		<% item['taglist'].each { | t | %>
	        			<span class="btn-xs <%= t['color'] %>"><%= t['tag'] %></span> 
	        		<% } %>
	        	<% else %>
	        	<%= _t 'Available' %>
	        	<% end %>
	        	</td>
	        	<td>
	        		<% if item['checkout'] == 'O' %>
	        		<a href="<%=APP_PATH + '/item/checkin?code=' + item['code'] %>" class="btn btn-success" id="btnCheckin"><span class="glyphicon glyphicon-import"></span></a>
	        		<% else %>
	        		<a href="<%=APP_PATH + '/out?code=' + item['code'] %>" class="btn btn-default" id="btnCheckout"><span class="glyphicon glyphicon-export"></span></a>
	        		<% end %>

 					<span class="btn btn-default btn-file" title="<%= _t 'take a picture of this item' %>">
        				 <span class="glyphicon glyphicon-camera"></span>
        				 <input type="file" class="btn btn-default" id="picture-<%= item['code'] %>" name="picture" accept="image/*" />
    				</span>
    				<!--remove capture="camera" to have to choice of selecting a saved image or take a new one on both Ios and Android-->

 	        		<a href="<%=APP_PATH + '/modify?code=' + item['code'] %>" class="btn btn-default" id="btnModify"><span class="glyphicon glyphicon-pencil"></span></a>
	        		<a href="<%=APP_PATH + '/delete?code=' + item['code'] %>" class="btn btn-danger" id="btnDelete"><span class="btn-danger glyphicon glyphicon-trash"></span></a>
	        		</td>
	        </tr>
	      <% } %>
	      </tbody>
	    </table>
	  </div>
</div>

<!-- Modal for full width picture -->
<div class="modal fade" id="bigPic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="center-block">
        	<img id="bigPicture" src="" width="500"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _t 'Close' %></button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready( function() {
	//
	// In Page Search engine
	//
	// Reset button
	$("#reset-filter").click(function(){
	  $("#q").val("");
	  $("table#techShopList .rch").show();
	  $("#filter-count").text("").hide();
	  $(this).hide();
	});

	// Search on keyup
	$("#q").keyup(function(){
	    var filter = $(this).val();
	    var count = 0;
	    $("#reset-filter").show();
	    // Loop through the lines list
	    $("table#techShopList .rch").each(function(){
	         // Recherche
	        if ($(this).text().search(new RegExp(filter, "ig")) < 0) {
	          $(this).fadeOut();
	        } else {
	            $(this).show();
	            count++;
	        }
	    });
	    s = count > 1 ? "s" : "";
	    $("#filter-count").text(count + " <%= _t 'result' %>" + s).show();
	  });

    // View picture in modal popup
	$(".modalPicture").click(function(){
	  var src = $(this).attr("src").replace(/thumb-/g, '');
	  $("#myModalLabel").html($(this).attr("alt"));
	  $("#bigPicture").attr("src", src);
	});

});

//
// Auto upload picture
//
$(document).on('change', '.btn-file :file', function(e) {
	e.preventDefault();

	// from an input element
    var filesToUpload = this.files;
    var file = filesToUpload[0];

    var	code = $(this).attr("id").replace(/^picture-/g, '');
    var	numFiles = $(this).get(0).files ? $(this).get(0).files.length : 1;
    var	label = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');


	var img = document.createElement("img");
	var reader = new FileReader();  

	reader.onload = function(e) 
	{
        img.src = e.target.result;

        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

        var maxW = 100;
        var maxH = 100;
        var width = img.width;
        var height = img.height;

        if (width > height) {
          if (width > maxW) {
            height *= maxW / width;
            width = maxW;
          }
        } else {
          if (height > maxH) {
            width *= maxH / height;
            height = maxH;
          }
        }
        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);

        var dataurl = canvas.toDataURL("image/png");
        $('#img-'+code).src = dataurl;     

        console.log(dataurl);
        console.log($('#img-'+code).src);
        // Uploading picture
		var data = new FormData();
		data.append('code', code);
		data.append('label', label);
		data.append('thumblabel', "thumb-" + label);
		data.append('thumb', dataurl);
		data.append('picture', file);

		// Posting data for thumbnail
		$.ajax({
		    url: '<%= APP_PATH %>/item/picture', 
		    type: 'POST',
		    data: data,
		    cache: false,
		    contentType: false,
		    processData: false,
		    success : function(response){
		    	// Refresh the thumbnail on list
		    	$('#img-'+code).attr("src", '<%= APP_PATH %>/pictures/thumb-' + label);
		     },
		    error : function(response){
		    	console.log(response);
		     }
		});

    }
    // Load files into file reader
    reader.readAsDataURL(file);
});
</script>
