<div class="col-md-10 col-md-offset-1">
	<div class="table-responsive">
	<% if @items %>
		<p class="text-muted"><%=@items.count %> <%= _t 'elements in the TechShop' %></p>
	<% else %>
		<p class="text-warning"><%= _h 'help-empty-techshop' %></p>
	<% end %>
	    <table class="table table-bordered table-striped" id="techShopList">
	      <thead>
	        <tr>
	          <% if USE_IMAGE == "Y" %>
	          <th>
	          	<%= _t 'Picture' %>
	          </th>
	          <% end %>
	          <th>
	          	<%= _t 'Code' %>
	          </th>
	          <th>
	          	<%= _t 'Name' %>
	          </th> 
	          <th>
	          	<%= _t 'Description' %>
	          </th>
	          <th>
	          	<%= _t 'Assigned' %> ?
	          </th>
	          <% unless @publiclist %>
	          <th>
	          	<%= _t 'Actions' %>
	          </th>
	          <% end %>
	        </tr>
	      </thead>
	      <tbody>
	      <% @items.each { | item | %>
	      	<% if item['checkout'] == 'O' %>
	      	<tr class='out rch'>
	        <% else %>
	        <tr class="rch">
	        <% end %>
	        <% if USE_IMAGE == "Y" %>
	        	<td>
	        	<% if !item['image_link'].empty? %>
	        		<img src="<%= APP_PATH %>/pictures/thumb-<%= File.basename(item['image_link'].to_s, File.extname(item['image_link'].to_s)) %>.png" alt="" class="img-responsive img-rounded modalPicture center-block" id="img-<%= item['code'] %>" data-toggle="modal" data-target="#bigPic">
	        	<% else %>
	        		<img id="img-<%= item['code'] %>" class="img-responsive img-rounded center-block"/>
	        	<% end %>
	        	</td>
	        <% end %>
	        	<td class="strikable"><%= item['code'] %></td>
	        	<td class="strikable"><%= item['name'] %></td>
	        	<td class="strikable"><%= item['description'] %></td>
	        	<td>
	        	<% if item['checkout'] == 'O' %>
	        		<% item['taglist'].each { | t | %>
	        			<span class="btn-xs <%= t['color'] %>"><%= t['tag'] %></span> 
	        		<% } %>
	        	<% else %>
	        	<%= _t 'Available' %>
	        	<% end %>
	        	</td>

	        	<% unless @publiclist %>
	        	<td>
	        		<% if item['checkout'] == 'O' %>
	        		<a href="<%=APP_PATH + '/item/checkin?code=' + item['code'] %>" class="btn btn-success" id="btnCheckin" title="<%= _t 'Check in' %>"><span class="glyphicon glyphicon-import"></span></a>
	        		<% else %>
	        		<a href="<%=APP_PATH + '/out?code=' + item['code'] %>" class="btn btn-default" id="btnCheckout" title="<%= _t 'Checkout' %>"><span class="glyphicon glyphicon-export"></span></a>
	        		<% end %>

	        		<% if USE_IMAGE == "Y" %>
	 					<span class="btn btn-default btn-file" title="<%= _t 'take a picture of this item' %>">
	        				 <span class="glyphicon glyphicon-camera"></span>
	        				 <input type="file" class="btn btn-default" id="picture-<%= item['code'] %>" name="picture" accept="image/jpeg,image/jpg,image/gif,image/png" />
	    				</span>
	    				<!--remove capture="camera" to have to choice of selecting a saved image or take a new one on both Ios and Android-->
	    			<% end %>
	    			
 	        		<a href="<%=APP_PATH + '/modify?code=' + item['code'] %>" class="btn btn-default" id="btnModify" title="<%= _t 'Modify' %>"><span class="glyphicon glyphicon-pencil"></span></a>
 	        		<% if item['checkout'] == 'N' && DELETE_ON_LIST == "Y" %>
	        			<a href="<%=APP_PATH + '/delete?code=' + item['code'] %>" class="btn btn-danger" id="btnDelete" title="<%= _t 'Delete' %>"><span class="btn-danger glyphicon glyphicon-trash"></span></a>
	        		<% end %>
	        	</td>
	        	<% end %>
	        </tr>
	      <% } %>
	      </tbody>
	    </table>
	  </div>
</div>

<!-- Modal for full width picture -->
<div class="modal fade" id="bigPic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="<%= _t 'Close' %>"><span aria-hidden="true" title="<%= _t 'Close' %>">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="center-block">
        	<img id="bigPicture" src="" width="500"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _t 'Close' %></button>
      </div>
    </div>
  </div>
</div>
