<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if !@publiclist %>
        <a class="navbar-brand" href="<%= APP_PATH %>">TechShopIO</a>
      <% else %>
        <a class="navbar-brand" href="<%= APP_PATH %>/catalog">TechShopIO</a>
      <% end %>
    </div>
    <% if !@publiclist %>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%=@nav_list %>"><a href="<%= APP_PATH %>/list"><%= _t('List') %></a></li>
        <li class="<%=@nav_tags %>"><a href="<%= APP_PATH %>/tags"><%= _t('Tags') %></a></li>
        <li class="<%=@nav_barcode %>"><a href="<%= APP_PATH %>/barcode"><%= _t('Barcodes') %></a></li>
        <li class="<%=@nav_populate %>"><a href="<%= APP_PATH %>/populate"><%= _t('Populate DB') %></a></li>
        <li class="<%=@nav_stats %>"><a href="<%= APP_PATH %>/stats"><%= _t('Stats') %></a></li>
<!--  No need for this release           
<li class="<%=@nav_settings %>"><a href="<%= APP_PATH %>/settings"><%= _t('Settings') %></a></li>
--> 
      </ul>
    </div><!--/.nav-collapse -->
    <% end %>
  </div>
</nav>
