<div class="col-md-6 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t @action + ' item' %>&nbsp;'<%= @item[0]['name'] %>'</h3>
	  	</div>
		<div class="panel-body">
		    <form method="post" id="newModifyFrm" action="<%=APP_PATH + '/item/new_modify' %>">
		    	<div class="col-md-4">
		    		<input type="hidden" name="action" value="<%= @action %>">
		    		<% if USE_IMAGE == "Y" %>
						<% unless @item[0]['image_link'].empty? %>
							<img src="<%= APP_PATH %>/pictures/<%= @item[0]['image_link'] %>" width="" alt="<%= @item[0]['name'] %>" class="img-responsive img-rounded">
							<input type="hidden" name="image_link" value="<%= @item[0]['image_link'] %>">
						<% else %>
							<img id="img-<%= @item[0]['code'] %>" class="img-responsive img-rounded center-block"/>
						<% end %>
						<br />
						<span class="btn btn-default btn-file pull-right" title="<%= _t 'take a picture of this item' %>">
							<span class="glyphicon glyphicon-camera"></span>
							 	<input type="file" class="btn btn-default" id="picture-<%= @item[0]['code'] %>" name="picture" accept="image/jpeg,image/jpg,image/gif,image/png" />
						</span>

						<div class="clearfix"><hr/></div>
					<% end %>
					<% if @action == 'modify' %>
						<div class="row">
							<div class="col-md-12">
								<p>
								  <% @assigned_tags.each { | tag | %>
									<span class="tag btn-xs <%= tag['color'] %>"><%= tag['tag'] %></span>
								  <% } %>
							 	</p>
						  	</div>
					  	</div>
				  	<% end %>

	    		</div>
	    		<div class="col-md-8">
	    			<% if @action == 'modify' %>
	    				<input type="hidden" name="code" value="<%= @code %>">
	    			<% else %>
						<div class="input-group">
						  <span class="input-group-addon input-group-lg" id="basic-addon0"><span class="glyphicon glyphicon-barcode"></span></span>
						  <input type="text" class="form-control" id="code" name="code" placeholder="<%= _t 'Code' %>" aria-describedby="basic-addon0" value="<%= @code %>">
						</div>
					<% end %>
					<div class="input-group">
					  <span class="input-group-addon input-group-lg" id="basic-addon1"><span class="glyphicon glyphicon-bookmark"></span></span>
					  <input type="text" class="form-control" id="name" name="name" placeholder="<%= _t 'Name' %>" aria-describedby="basic-addon1" value="<%= @item[0]['name'] %>">
					</div>

					<div class="input-group">
					  <span class="input-group-addon input-group-lg" id="basic-addon2"><span class="glyphicon glyphicon-list-alt"></span></span>
					  <textarea class="form-control" id="description" name="description" placeholder="<%= _t 'Description' %>" aria-describedby="basic-addon2" rows="3"><%= @item[0]['description'] %></textarea>
					</div>

	    			<% if @action == 'modify' %>
	    				<input type="hidden" name="quantity" value="<%= @item[0]['quantity'] %>">
					<% else %>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><span class="glyphicon glyphicon-duplicate"></span></div>
								<input type="number" class="form-control col-xs-4" id="quantity" name="quantity" placeholder="<%= _t 'Number of units' %>" value="<%= @item[0]['quantity'] %>">
								<div class="input-group-addon"><%= _t 'Unit(s)' %></div>
							</div>
						</div>
					<% end %>

					<div class="input-group" id="consumable-field">
						<span class="input-group-addon input-group-lg" id="consumable-addon"><span class="glyphicon glyphicon-piggy-bank"></span></span>

					<% if @action == 'modify' %>
						<!-- Read only button -->
						<button class="btn btn-info" type="button" id="consumable-button-read-only"><%= _t 'Consumable' %></button>
					<% else %>
						<button class="btn btn-default" type="button" id="consumable-button" data-toggle="collapse" data-target="#consumable-complement" aria-expanded="false" aria-controls="consumable-complement">
							<%= _t 'Consumable' %>
						</button>
					<% end %>
						<input type="hidden" id="consumable" name="consumable" value="<%= @item[0]['consumable'] %>">
						<div class="collapse" id="consumable-complement">
							<div class="well">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><%= _t 'Price' %></div>
										<input type="text" class="form-control col-xs-4" id="price" name="price" placeholder="<%= _t '0.00 per unit' %>" value="<%= @item[0]['price'] %>">
										<div class="input-group-addon"><%= _t '$' %></div>
									</div>
								</div>
		
							</div>
						</div>
					</div>


				</div>

				<div class="col-md-12">
					<div class="pull-right">
						<a href="<%= APP_PATH %>/list" class="btn btn-default">
							<span class="glyphicon glyphicon-hand-left" title="<%= _t 'Back to list' %>"></span>&nbsp;<%= _t 'Back to list' %>
						</a>
						<% if @action  == 'new' %>
						<button type="button" class="btn btn-success" id="btnSubmit">
							<span class="glyphicon glyphicon-plus" title="<%= _t 'Add' %>"></span>&nbsp;<%= _t 'Add' %>
						</button>
						<% else %>
						<input type="hidden" id="modify_all_items" name="modify_all_items" value="">
						<button type="button" class="btn btn-success" id="btnSubmit">
							<span class="glyphicon glyphicon-ok" title="<%= _t 'Modify' %>"></span>&nbsp;<%= _t 'Modify' %>
						</button>
							<% if @siblings %>
								<button type="button" class="btn btn-success" id="btnSubmitModifyAll">
									<span class="glyphicon glyphicon-ok" title="<%= _t 'Modify' %>"></span>
									<span class="glyphicon glyphicon-ok double-icon"></span>&nbsp;<%= _t 'Modify all' %>
								</button>
							<% end %>
						<% end %>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Help' %></h3>
	  	</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="glyphicon glyphicon-barcode"></span>&nbsp;
					<%= _h 'help-new-barcode' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-bookmark"></span>&nbsp;
					<%= _h 'help-new-name' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-list-alt"></span>&nbsp;
					<%= _h 'help-new-desc' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-duplicate"></span>&nbsp;
					<%= _h 'help-new-quantity' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
					<%= _h 'help-new-consumable' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-picture"></span>&nbsp;
					<%= _h 'help-new-picture' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-camera"></span>&nbsp;
					<%= _h 'help-new-camera' %>
				</li>
			<% if @action  == 'new' %>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;
					<%= _h 'help-new-plus' %>
				</li>
			<% else %>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-ok"></span>&nbsp;
					<%= _h 'help-modify' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-ok"></span>
					<span class="glyphicon glyphicon-ok double-icon"></span>&nbsp;
					<%= _h 'help-modify-all' %>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
<script>
$(function() {
	var but = $('#consumable-button');
	var hid = $('#consumable');
	var code = $('#code');

	// setting state of the button
	function set_button_state(state) {
		but.removeClass("btn-default").removeClass("btn-info");
		hid.val(state);
		if (state == 'Y') {
			but.addClass("btn-info");
		} else {
			but.addClass("btn-default");
		}

	}

	// Event listener for read only button (modifying mode)
	$('#consumable-button-read-only').on('click', function () {
		return false;
	});

	// Event listener on consumable checkbox
	$('#consumable-button').on('click', function () {
		if (hid.val() == 'Y') {
			set_button_state('N');
		} else {
			set_button_state('Y');
		}
  	});

	// Setting button state
	set_button_state(hid.val());
	if (hid.val() == "Y") {
		$('#consumable-complement').addClass("in");
	}
	// Focusing on name textfield
	$("#name").focus();

});
</script>