<div class="col-md-6 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t @action + ' item' %></h3>
	  	</div>
		<div class="panel-body">
		    <form method="post" id="newModifyFrm" action="<%=APP_PATH + '/item/new_modify' %>">
		    	<div class="col-md-4">
		    		<input type="hidden" name="action" value="<%= @action %>">
					<% unless @item[0]['image_link'].empty? %>
						<img src="<%= APP_PATH %>/pictures/<%= @item[0]['image_link'] %>" width="" alt="<%= @item[0]['name'] %>" class="img-responsive img-rounded">
						<input type="hidden" name="image_link" value="<%= @item[0]['image_link'] %>">
					<% end %>
					<br />
					<span class="btn btn-default btn-file" title="<%= _t 'take a picture of this item' %>">
						<span class="glyphicon glyphicon-camera"></span>
						 	<input type="file" class="btn btn-default" id="picture-<%= @item[0]['code'] %>" name="picture" accept="image/png" />
					</span>
	    		</div>
	    		<div class="col-md-8">
					<div class="input-group">
					  <span class="input-group-addon input-group-lg" id="basic-addon0"><span class="glyphicon glyphicon-barcode"></span></span>
					  <input type="text" class="form-control" id="code" name="code" placeholder="<%= _t 'Code' %>" aria-describedby="basic-addon0" value="<%= @code %>">
					</div>

					<div class="input-group">
					  <span class="input-group-addon input-group-lg" id="basic-addon1"><span class="glyphicon glyphicon-bookmark"></span></span>
					  <input type="text" class="form-control" id="name" name="name" placeholder="<%= _t 'Name' %>" aria-describedby="basic-addon1" value="<%= @item[0]['name'] %>">
					</div>

					<div class="input-group">
					  <span class="input-group-addon input-group-lg" id="basic-addon2"><span class="glyphicon glyphicon-list-alt"></span></span>
					  <textarea class="form-control" id="desc" name="desc" placeholder="<%= _t 'Description' %>" aria-describedby="basic-addon2" rows="3"><%= @item[0]['description'] %></textarea>
					</div>

					<a href="<%= APP_PATH %>/list" class="btn btn-default">
						<span class="glyphicon glyphicon-hand-left"></span>&nbsp;<%= _t 'Back to list' %>
					</a>
					<button type="button" class="btn btn-success" id="btnSubmit">
					<% if @action  == 'new' %>
						<span class="glyphicon glyphicon-plus"></span>&nbsp;<%= _t 'Add' %>
					<% else %>
						<span class="glyphicon glyphicon-ok"></span>&nbsp;<%= _t 'Modify' %>
					<% end %>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Help' %></h3>
	  	</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="glyphicon glyphicon-barcode"></span>&nbsp;
					<%= _h 'help-new-barcode' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-bookmark"></span>&nbsp;
					<%= _h 'help-new-name' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-list-alt"></span>&nbsp;
					<%= _h 'help-new-desc' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-picture"></span>&nbsp;
					<%= _h 'help-new-picture' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-camera"></span>&nbsp;
					<%= _h 'help-new-camera' %>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;
					<%= _h 'help-new-plus' %>
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready( function() {
	$('#btnSubmit').click(function(){
		$('#newModifyFrm').submit();
	});
});
</script>
