
<style>

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
#tags-list .tag {
    cursor: alias;
}

#tags-list-panel .tag {
    cursor: grab;
}

.tag {
	margin: 2px;
}

.tag-title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.dropTarget {
	background-color: #fafafa;
	border: 1px dashed #269ABC;
}

</style>

<div class="col-md-5 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">#<%= @code %></h3>
	  	</div>
		<div class="panel-body">
			<% if USE_IMAGE == "Y" %>
				<div class="input-group">
				  <span class="input-group-addon input-group-lg" id="basic-addon3">
				  <% unless @item[0]['image_link'].empty? %>
				  	<img src="<%= @item[0]['image_link'] %>" class="img img-responsive img-rounded" alt=""/>
				  <% else %>
				  <span class="glyphicon glyphicon-picture"></span>
				  <% end %>
				  </span>
				</div>
			<% end %>
				<div class="input-group">
				  <span class="input-group-addon input-group-lg" id="basic-addon1"><span class="glyphicon glyphicon-bookmark"></span></span>
				  <input type="text" class="form-control" value="<%= @item[0]['name'] %>">
				</div>

				<div class="input-group">
				  <span class="input-group-addon input-group-lg" id="basic-addon2"><span class="glyphicon glyphicon-list-alt"></span></span>
				  <input type="text" class="form-control" value="<%= @item[0]['description'] %>">
				</div>

				<div class="input-group input-group-lg">
				  <span class="input-group-addon input-group-lg" id="basic-addon2"><span class="glyphicon glyphicon-tags"></span></span>
				  <div class="form-control" id="tags-list" name="tags-list">
					  <% @assigned_tags.each { | tag | %>
						<div class="tag btn <%= tag['color'] %>" id="tag<%= tag['id'] %>">
						  <span class="tag-title"><%= tag['tag'] %></span> 
						  <!--span class="badge"><%= tag['count_items'] %></span-->
						</div>
					  <% } %>
				  </div>
				</div>
		</div>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'List of tags' %></h3>
	  	</div>
		<div class="panel-body" id="tags-list-panel">
		  <% @available_tags.each { | tag | %>
			<div class="tag btn <%= tag['color'] %>" id="tag<%= tag['id'] %>">
			  <span class="tag-title"><%= tag['tag'] %></span> 
			</div>
		  <% } %>
		 </div>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<form id="checkoutForm" action="<%= APP_PATH %>/item/checkout" method="post">
		<input type="hidden" name="code" value="<%= @code %>">
	</form>
	<button type="button" class="btn btn-default" title="<%= _t 'Cancel checkout' %>"><%= _t 'Cancel' %></button>
	<button type="submit" class="btn btn-success" id="checkoutBtn"  title="<%= _t 'Checkout' %>"><%= _t 'Checkout' %>&nbsp;<span class="glyphicon glyphicon-export"></span></button>
</div>

<script>
$(document).ready( function() {

	var chkBtn = $( "#checkoutBtn" );
	var frm = $("#checkoutForm");
	var cnt = $('#tags-list-panel, #tags-list');
	var countTags = $( "#ags-list" ).children(); // TODO : Compter le nombre d'éléments existants
	// Initial state of the page
	chkBtn.prop("disabled", true);


	cnt.each(function( index ) {
	  var action = "add";
	  // for every click on or in this element
	  cnt.eq(index).on('click', '> *', function() {
	    // append will remove the element
	    // Number( !0 ) => 1, Number( !1 ) => 0
	    if ( Number(!index) == 0) {
	    	// Adding tags
	    	countTags++;
	    } else {
	    	// Removing Tags
	    	countTags--;
	    	action = "remove";
	    }  
	    // Sending ajax request
		$.ajax({
		  url: "<%= APP_PATH %>/tags/" + action + "/?code=<%= @code %>&id=" + this.id.replace('tag', '')
		})
		  .done(function( res ) {
		    console.log( res );
		  });
	    // updating the right layer
	    cnt.eq( Number(!index) ).append( this );
	    // Set right button state
	    chkBtn.prop("disabled", (countTags <= 0) );
	  });
	});

	// Checkout button Listener
	chkBtn.click(function() {
		frm.submit();
	});

});
</script>