<script src="<%= APP_PATH %>/app/vendor/chart.js/dist/Chart.bundle.min.js"></script>

<!-- <style>

.blue { background-color: #4babef; color: #ffffff; }
.lavande { background-color: #6675ca; color: #ffffff; }
.violet { background-color: #a463e7; color: #ffffff; }
.pink { background-color: #a463e7; color: #ffffff; }
.red { background-color: #a463e7; color: #ffffff; }
.orange { background-color: #a463e7; color: #ffffff; }
.yellow { background-color: #a463e7; color: #1A1A00; }
.lightgreen { background-color: #7ed042; color: #1A1A00; }
.green { background-color: #61b821; color: #ffffff; }
.brown { background-color: #A38566; color: #ffffff; }
.black { background-color: #384048; color: #ffffff; }
.gray { background-color: #dedede; color: #1A1A00; }

</style> -->

<div class="col-md-6 col-md-offset-1">
  <div class="table-responsive" id="chart-layout">
    <%= _t "Checkout count by tag" %>
    <canvas id="chart-area"></canvas>
  </div>
</div>

<div class="col-md-6 col-md-offset-1">
  <div class="table-responsive" id="chart-layout">
    <%= _t "Checkin/Checkout Timeline" %>
    <canvas id="line-area"></canvas>
  </div>
</div>

<script>
  $(document).ready( function() {
    //
    // Chart repatition by tag
    //

    var colorChart = [], labelChart = [];
    var dataChart = [<% @tags.each_with_index { | tag, index | %>"<%= tag['count_items'] %>"<%= (index == @tags.count()-1) ? '' : ',' %><% } %>];
    var colorChart = [<% @tags.each_with_index { | tag, index | %>"<%= tag['color'].sub!('btn-','') %>"<%= (index == @tags.count()-1) ? '' : ',' %><% } %>];
    var labelChart = [<% @tags.each_with_index { | tag, index | %>"<%= tag['tag'] %>"<%= (index == @tags.count()-1) ? '' : ',' %><% } %>];

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: dataChart,
          backgroundColor: colorChart,
          label: '<%= _t "Checkout Statistics" %>'
        }],
        labels: labelChart
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: false,
          //text: 'Chart.js Doughnut Chart'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

      var ctx = $('#chart-area')[0].getContext('2d');
      myDoughnut = new Chart(ctx, config);
      myDoughnut.update();

    //
    // Checkin checkout histogram
    //
    var timeFormat = 'YYYY-MM-DD HH:mm:ss';
    var labelsLine = [], chkoutLine = [], chkintLine = [];

    $.ajax({
      url: "<%= APP_PATH %>/stats/data/logs?dir=1"
    })
      .success(function(response) {
        $.each(response.logs, function(i, log) {
          labelsLine.push(log.move_date);
          chkoutLine.push(-log.move);
        });
    });

    $.ajax({
      url: "<%= APP_PATH %>/stats/data/logs?dir=0"
    })
      .success(function(response) {
        $.each(response.logs, function(i, log) {
          chkintLine.push(log.move);
        });

        var color = Chart.helpers.color;
        var configLine = {
          type: 'bar',
          data: {
            labels: labelsLine,
            datasets: [{
              type: 'bar',
              label: "<%= _t 'Checked out' %>",
              backgroundColor: color("red").alpha(0.5).rgbString(),
              borderColor: "red",
              data: chkoutLine,
            }
            , {
              type: 'bar',
              label: "<%= _t 'Checked in' %>",
              backgroundColor: color("blue").alpha(0.5).rgbString(),
              borderColor: "blue",
              data: chkintLine,
            }
            ]
          },
          options: {
            title: {
              text: 'Chart.js Combo Time Scale'
            },
            // scales: {
            //   xAxes: [{
            //     type: 'time',
            //     display: true,
            //     // time: {
            //     //   format: timeFormat,
            //     //   round: 'days'
            //     //  }
            //   }],
            // },
          }
        };

      var ctxLine = $('#line-area')[0].getContext('2d');
      myLine = new Chart(ctxLine, configLine);
      myLine.update();
    }); // end .success


  });
  </script>