<style type="text/css">
	.selected {
		border: 3px solid black;
	}

	#tag-detail-panel {
		display: none;
	}

</style>

<script>
$(function(){
	var detailPnl = $("#tag-detail-panel");

	// Handeling color buttons
	$('.colorpicker').click(function()
	{
		$("#color").val($(this).attr("class").split(' ')[1]);
		$(this).removeClass("selected");
		$(this).addClass("selected");
	});

	// Handeling tag buttons
	$('.tag').click(function()
	{
		// Gathering informations
		$.ajax({
		  url: "<%= APP_PATH %>/tag/info/?id=" + this.id.replace('tag', '')
		})
		  .done(function( msg ) {
		  	// TODO : Flash message to say 'Ok!'
		    console.log( msg );
		  });	 	
	 	detailPnl.show();
	});

});

</script>

<div class="col-md-5 col-md-offset-1">
	<div class="panel panel-default" id="tags-list-panel">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'List of tags' %></h3>
	  	</div>
		<div class="panel-body">
		<ul class="list-group">
		  <% @tags.each { | tag | %>
			<li class="list-group-item">
				<button class="tag btn <%= tag['color'] %>" id="tag<%= tag['id'] %>" type="button"><%= tag['tag'] %></button>
        		<a href="<%=APP_PATH %>/tag/delete?id=<%= tag['id'] %>"><span class="glyphicon glyphicon-trash"></span></a>
				<span class="badge"><%= tag['count_items'] %></span>
			</li> 
		  <% } %>
		</ul>
		</div>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Create a new tag' %></h3>
	  	</div>
		<div class="panel-body">
		<form method="post" action="<%=APP_PATH + '/tag/add?' %>">
			<input type="text" name="tag" id="tag">
			<input type="hidden" id="color" name="color" value="">

			<button type="button" class="btn btn-default colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-primary colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-success colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-info colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-warning colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-danger colorpicker">&nbsp;</button>

			<button class="btn btn-info" type="submit"><%= _t 'Add' %></button> 			
		</form>
		 </div>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default" id="tag-detail-panel">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Details for this tag' %></h3>
	  	</div>
		<div class="panel-body">
		  Here is some stats and actions on this tag !
		 </div>
	</div>
</div>