<style type="text/css">
	.selected {
		border: 3px solid black;
	}

	#tag-detail-panel {
		display: none;
	}

</style>

<script>
$(document).ready( function() {
	var detailPnl = $("#tag-detail-panel");
	var tagID = 0;

	// Handeling color buttons
	$('.colorpicker').click(function()
	{
		$("#color").val($(this).attr("class").split(' ')[1]);
		$(this).removeClass("selected");
		$(this).addClass("selected");
	});

	// Handeling tag buttons
	$('.tag').click(function()
	{
		// Gathering informations
		tagID = this.id.replace('tag', '');
		$.ajax({
		  url: "<%= APP_PATH %>/tag/info/?id=" + tagID
		})
		  .success(function(response) {
		  	// Displaying all checked item with this tag
		  	$('#items_table').html("");
		  	$('#tag-detail').html("");
			response = $.parseJSON(response);
			// Title
			$('#tag-detail').html("<span class='label "+response[0].color+"'>" + response[0].tag + "</span>"); 
			// Table of items
			$.each(response, function(i, item) {
				$('<tr>').html("<td>" + response[i].code + "</td><td>" + response[i].name + "</td><td>" + response[i].description + "</td>").appendTo('#items_table');
			});	
			// Export Link
			$('#exportToCSV').attr("href", "<%= APP_PATH %>/tag/csv/?id=" + tagID);
		}) 	
	 	detailPnl.show();
	});

});

</script>

<div class="col-md-5 col-md-offset-1">
	<div class="panel panel-default" id="tags-list-panel">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'List of tags' %></h3>
	  	</div>
		<div class="panel-body">
		<ul class="list-group">
		  <% @tags.each { | tag | %>
			<li class="list-group-item">
				<button class="tag btn <%= tag['color'] %>" id="tag<%= tag['id'] %>" type="button" title="<%= _t 'tag' + ' ' + tag['tag']  %>"><%= tag['tag'] %></button>
        		<a href="<%=APP_PATH %>/tag/delete?id=<%= tag['id'] %>" title='<%= _t "Delete"  %>'><span class="glyphicon glyphicon-trash"></span></a>
				<span class="badge"><%= tag['count_items'] %></span>
				<% if tag['sorting_tag']  == 'O' %>
					<span class="badge"><%= _t "Sorting tag"  %></span>
				<% end %>	
			</li> 
		  <% } %>
		</ul>
		</div>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Create a new tag' %></h3>
	  	</div>
		<div class="panel-body">
		<form method="post" action="<%=APP_PATH + '/tag/add?' %>">
			<input type="text" name="tag" id="tag">
			<input type="hidden" id="color" name="color" value="">

			<button type="button" class="btn btn-default colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-yellow colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-warning colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-danger colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-violet colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-info colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-primary colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-success colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-brown colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-black colorpicker">&nbsp;</button>

			<button class="btn btn-info" type="submit"><%= _t 'Add' %></button> 			
		</form>
		 </div>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default" id="tag-detail-panel">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Details for tag' %>&nbsp;<span id="tag-detail"></span>
	    	<a class="btn btn-default btn-xs pull-right" id="exportToCSV" title="<%= _t 'Export to CSV file' %>"><%= _t 'csv' %></a>
	    	</h3>
	  	</div>
		<div class="panel-body">
		  <table id="items_table" class="table stripped"></table>
		 </div>
	</div>
</div>