<style type="text/css">
	.selected {
		border: 3px solid black;
	}

	#tag-detail-panel {
		display: none;
	}

</style>

<script>
$(document).ready( function() {
	var detailPnl = $("#tag-detail-panel");
	var tagID = 0;

	// Handeling color buttons
	$('.colorpicker').click(function()
	{
		$("#color").val($(this).attr("class").split(' ')[1]);
		$(this).removeClass("selected");
		$(this).addClass("selected");
	});

	// Handeling pdf generation button
	$('#editSheet').click(function()
	{
		$.ajax({
		  url: "<%= APP_PATH %>/tag/pdf/?id=" + tagID
		})
		.success(function(response) {
			// Do something pretty to show that all is ok !
		});
	});

	// Handeling tag buttons
	$('.tag').click(function()
	{
		// Gathering informations
		tagID = this.id.replace('tag', '');
		$.ajax({
		  url: "<%= APP_PATH %>/tag/info/?id=" + tagID
		})
		  .success(function(response) {
		  	// Displaying all checked item with this tag
		  	$('#items_table').html("");
		  	$('#tag-detail').html("");
			response = $.parseJSON(response);
			// Title
			$('#tag-detail').html("<span class='label "+response[0].color+"'>" + response[0].tag + "</span>"); 
			// Table of items
			$.each(response, function(i, item) {
				$('<tr>').html("<td>" + item.code + "</td><td>" + item.name + "</td><td>" + item.description + "</td><td><div id='code" + item.code+"'></div></td>").appendTo('#items_table');
				$('#code' + item.code).barcode(item.code, "code39", {barHeight: 30}); 
			});	

			// Export Link
			$('#exportToCSV').attr("href", "<%= APP_PATH %>/tag/csv/?id=" + tagID);
			// Pdf Link
			//$('#editSheet').attr("href", "<%= APP_PATH %>/tag/pdf/?id=" + tagID);
		}) 	
	 	detailPnl.show();
	});

	// Handeling 'delete' button
	// @TODO : put a better confirm box than a gray awfull javascript one :)
	$('.deleteTag').click(function()
	{
		var tagId = this.id.replace('delete', '');
		if (confirm("<%= _t 'Do you really want to delete this tag ? \nAll item links will be lost.' %>")){
			location.href="<%=APP_PATH %>/tag/delete?id="+tagId;
		}
	});
});

</script>

<div class="col-md-5 col-md-offset-1">
	<div class="panel panel-default" id="tags-list-panel">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'List of tags' %></h3>
	  	</div>
		<div class="panel-body">
		<ul class="list-group">
		  <% @tags.each { | tag | %>
			<li class="list-group-item">
				<button class="tag btn <%= tag['color'] %>" id="tag<%= tag['id'] %>" type="button" title="<%= _t 'tag' + ' ' + tag['tag']  %>"><%= tag['tag'] %></button>

				<a class="contactTag" id="contact<%= tag['id'] %>" href="#" data-toggle="modal" data-target="#modalTagContactForm" title="<%= _t 'Add a contact' %>"><span class="glyphicon glyphicon-list-alt"></span></a>

        		<a class="deleteTag" id="delete<%= tag['id'] %>" href="#" title='<%= _t "Delete"  %>'><span class="glyphicon glyphicon-trash"></span></a>

				<span class="badge"><%= tag['count_items'] %></span>
				<% if tag['sorting_tag']  == 'O' %>
					<span class="badge"><%= _t "Sorting tag"  %></span>
				<% end %>	
			</li> 
		  <% } %>
		</ul>
		</div>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-info">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Create a new tag' %></h3>
	  	</div>
		<div class="panel-body">
		<form method="post" action="<%=APP_PATH + '/tag/add?' %>">
			<input type="text" name="tag" id="tag">
			<input type="hidden" id="color" name="color" value="">

			<button type="button" class="btn btn-blue colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-lavande colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-violet colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-pink colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-red colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-orange colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-yellow colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-lightgreen colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-green colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-brown colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-black colorpicker">&nbsp;</button>
			<button type="button" class="btn btn-gray colorpicker">&nbsp;</button>

			<button class="btn btn-info" type="submit"><%= _t 'Add' %></button> 			
		</form>
		 </div>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default" id="tag-detail-panel">
		<div class="panel-heading">
	    	<h3 class="panel-title"><%= _t 'Details for tag' %>&nbsp;<span id="tag-detail"></span>
	    	
	    		<a class="btn btn-default btn-xs pull-right" id="exportToCSV" title="<%= _t 'Export to CSV file' %>"><%= _t 'csv' %></a>
	    	
	    		<a class="btn btn-default btn-xs pull-right" id="editSheet" title="<%= _t 'Edit loan sheet' %>"><%= _t 'Loan sheet' %></a>
	    	</h3>
	  	</div>
		<div class="panel-body">
		  <table id="items_table" class="table stripped"></table>
		 </div>
	</div>
</div>


<!-- Modal for adding a contact to the tag -->
<div class="modal fade" id="modalTagContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="<%= _t 'Close' %>"><span aria-hidden="true" title="<%= _t 'Close' %>">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= _t 'Add a contact to this tag' %></h4>
        <%= _h 'help-add-tag-contact' %>
      </div>
      <div class="modal-body">
        <div class="center-block">
        Here is the contact form (firstname, lastname, email).
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _t 'Close' %></button>
      </div>
    </div>
  </div>
</div>
